body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #1e1f26, #121217);
  font-family: Arial, sans-serif;
}

.book-container {
  width: 420px;
  height: 600px;
  border-radius: 20px;
  padding: 30px;
  color: white;
  position: relative;
  overflow: hidden;

  /* Background Image */
  background-image: url("coverbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 15px 15px 30px #0d0e12,
              -15px -15px 30px #2c2f36;
}

.publisher {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 14px;
  color: black;
}

.branding {
  text-align: center;
  font-size: 20px;
  color: #ffcc00;
  margin-top: 40px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
  color:goldenrod;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color:darkorange
}


.highlight-line {
  height: 3px;
  width: 60%;
  background: #ff9800;
  margin: 30px auto;
  border-radius: 50px;
}
.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
  color:black;
}

.edition {
  position: absolute;
  bottom: 80px;
  left: 30px;
  font-size: 14px;
  color:goldenrod;
}

.author {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 16px;
  color: purple;
}

.image-frame {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 110px;
  height: 140px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.image-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}